<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.removewidgetbgprefs</string>
			<key>key</key>
			<string>IsEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.82flex.removewidgetbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.removewidgetbgprefs</string>
			<key>key</key>
			<string>IsMaterialViewEnabled</string>
			<key>label</key>
			<string>Enabled with Material View</string>
			<key>PostNotification</key>
			<string>com.82flex.removewidgetbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.removewidgetbgprefs</string>
			<key>key</key>
			<string>IsSystemWidgetsEnabled</string>
			<key>label</key>
			<string>Enabled with System Widgets</string>
			<key>PostNotification</key>
			<string>com.82flex.removewidgetbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Please note that not all widgets are supported. If you have any issues, do not contact us.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>defaults</key>
			<string>com.82flex.removewidgetbgprefs</string>
			<key>default</key>
			<array>
				<string>com.growing.topwidgetsplus</string>
				<string>dk.simonbs.Scriptable</string>
				<string>wiki.qaq.trapp.LaunchPad</string>
			</array>
			<key>key</key>
			<string>AppIdentifiers</string>
			<key>label</key>
			<string>Enabled Applications</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Custom</string>
					<key>sectionName</key>
					<string></string>
					<key>sectionPredicate</key>
					<string>atl_isHidden == NO AND plugInKitPlugins.@count > 0 AND NOT applicationIdentifier LIKE 'com.apple.*'</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>hideSearchBarWhileScrolling</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.removewidgetbgprefs</string>
			<key>key</key>
			<string>ForceDarkMode</string>
			<key>label</key>
			<string>Force Dark Mode</string>
			<key>PostNotification</key>
			<string>com.82flex.removewidgetbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Maximum Element Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>150</integer>
			<key>min</key>
			<integer>50</integer>
			<key>max</key>
			<integer>300</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>25</integer>
			<key>defaults</key>
			<string>com.82flex.removewidgetbgprefs</string>
			<key>key</key>
			<string>MaxWidgetWidth</string>
			<key>PostNotification</key>
			<string>com.82flex.removewidgetbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Maximum Element Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>150</integer>
			<key>min</key>
			<integer>50</integer>
			<key>max</key>
			<integer>300</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>25</integer>
			<key>defaults</key>
			<string>com.82flex.removewidgetbgprefs</string>
			<key>key</key>
			<string>MaxWidgetHeight</string>
			<key>PostNotification</key>
			<string>com.82flex.removewidgetbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring to Apply Changes</string>
			<key>action</key>
			<string>respring</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>Respring</string>
				<key>prompt</key>
				<string>Are you sure you want to respring your device?</string>
				<key>okTitle</key>
				<string>Respring</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>isDestructive</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Please support our paid works, thank you!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Made with ♥ by OwnGoal Studio</string>
			<key>action</key>
			<string>support</string>
		</dict>
	</array>
	<key>title</key>
	<string>Remove Widget Background</string>
</dict>
</plist>
