Package: com.82flex.removewidgetbg
Name: 移除小组件背景
Version: 0.0.3
Architecture: iphoneos-arm
Description: 已适配系统自带小组件和 Top Widgets⁺ 小组件，移除小组件背景，让桌面更干净。
Maintainer: Lessica <82flex@gmail.com>
Author: Lessica <82flex@gmail.com>
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000)
