Package: com.82flex.removewidgetbg
Name: 移除小组件背景
Version: 1.0
Architecture: iphoneos-arm
Description: 移除小组件背景，让桌面更干净。
Maintainer: Lessica <82flex@gmail.com>
Author: Lessica <82flex@gmail.com>
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, com.opa334.altlist
